<!DOCTYPE html>
<html>

<head>
      <title>score</title>
      <link rel='icon' href="/img/images.png">
      <link rel="stylesheet" href="/css/style.css">

</head>

<body>
      <div class="main-content">
            {{>header}}
            <img class="portrait other" src="/img/match.png">
            <p><b>Get live score</b></p>

            <form>
                  <!--   <input placeholder="Location">-->
                  <button>Click Here</button>
            </form>
            <p id='message-1'></p>
            <p id='message-2'></p>
      </div>
      {{>footer}}

      <script src="/js/app.js"></script>
</body>

</html>